*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #0d1117ed;
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.clock-container{
    border: none;
    padding: 10vh;
    background-color: #a49c9e3d;
    border-radius: 10px;
    box-shadow: 2px 4px 20px black;
}
h1{
    color: rgb(113, 255, 47);
    text-align: center;
    font-size: 60px;
}
p{
    text-align: center;
    font-size: 25px;
}